<h2>Contact Info</h2>
<ul>
  <li>Email: <%= obscure_email('givememydraftback@gmail.com')%></li>
  <li>Twitter: <%= link_to 'twitter.com/givememydraftbk', 'http://twitter.com/givememydraftbk', :target => '_blank' %></li>
  <li>Facebook: <%= link_to "'Give Me My Draft Back!' Fan Page", 'http://facebook.com/givememydraftback', :target => '_blank' %></li>
</ul>