<h2>Site Management</h2>
<p></p>
<div>
  <ul>
    <li><%= link_to "Posts", posts_path() %></li>
    <li><%= link_to "Signatures", manage_petition_path() %></li>
    <!-- <li><%= link_to "Users", users_path() %></li> -->
  </ul>
</div>