<h2> All <%= @num_signatures %> Signatures</h2>
<p>
  <table width='100%' cellspacing='0', cellpadding='0' border='0'>
    <tr>
      <th align='left' width='15px;'></th>
      <th align='left' width='120px;'>Name</th>
      <th align='left' width='120px;'>Location</th>
    </tr>
    <%= render :partial => 'signature', :collection => @signatures %>
  </table>  
  <div style='text-align: center; margin-top: 10px;'>
    <%= link_to 'Sign the Petition', sign_petition_path() %>
  </div>
</p>