/* Football CSS  LFS ACES*/

body { 
	font: 8pt verdana; 
	background: #DFD6B4 url('../images/bg.gif') repeat-y;
  background-position: 50% 0px;
	margin: 0;
	padding: 0;
}
  
.alt {
  color: inherit;
  background-color: #fff;
}

.alt2 {
  color: inherit;
  background-color: #efefef;
}

.style5 {
  color: #003366
}

.style6 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.style7 {
  color: #FFFFFF
}

.fieldWithErrors{
  /* float: left; */
}

#menu {
  margin-left: 150px; 
  margin-top: -3px; 
  padding-top: 3px;
}

#menu ul {
  margin: 0; 
  background-color: #fff; 
  padding: 5px; 
  text-align: center;
}

#menu ul li { 
  display: inline; 
  list-style-type: none;
}

#menu ul li a:link, 
#menu ul li a:visited { 
  background-color: green; 
  color: white; 
  padding: 5px; 
  text-decoration: none; 
  border-right: 1px solid #fff; 
  border-left: 1px solid #fff; 
}

#menu ul li a:hover { 
  background-color: green; 
  color:white; 
  padding-top: .75em; 
  border-top: 1px outset gray; 
}

a:link {
  color: navy;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: navy;
}

a:hover {
  text-decoration: none;
  color: #0066FF;
}

a:active {
  text-decoration: none;
  color: navy;
}

h1 {
	font: 18pt verdana, arial, sans-serif;
	color: #666;
	margin: 0;
	padding: 20px;
}

h2 {
	font: 14pt verdana, arial, sans-serif;
	color: #666;
	padding: 10px;
	margin: 0;
  text-align: center;
}

h2.left {
  padding: 0px;
  text-align: left;
}

h3 {
	font: 10pt verdana, arial, sans-serif;
	color: #FFFFFF;
	padding: 12px;
	margin: 0;
  text-align: center;
}

h4 {
	font: 1.6em arial;
	color: #fff;
	margin: 5px 0px 0px 5px;
  text-align: left;
}

.sidebar_header{
  margin: 5px 0px 0px 5px;
  color: #fff;  
}

ul.side_nav {
  color: #fff;  
}

ul.side_nav li {
  margin: 0px;
  list-style-type: none;
}

ul.side-nav li a {
  display: block;
  margin: 0;
  padding: 5px 0 5px 0px;
}

ul.side-nav li a:link, ul.side-nav li a:visited {
  color: #ffffff;
  text-decoration: none;
}

ul.side-nav li a:hover {
  color: #ffffff;
}

p { 
  color: #000; 
	margin: 0px; 
	text-align: left;
}

span.post_title{
  margin: 0 0 0 0;
  font-weight: lighter;
  font-size: 1.8em;
  color: #464031;
}

span.dateline {
  font-size: .9em;
  font-weight: lighter;
  color: #dc3409;
  margin: 0 0 10px 0;
}

div.post_list{
  margin-bottom: 10px;  
}

#contain {
	width: 750px;
	border-right: 5px solid #ffffff;
	border-left: 5px solid #ffffff;
	margin-left: auto;
	margin-right: auto;
	background: #FFF;
}
	
#header {
  background: #FFF url('../images/header.gif') right no-repeat;
	width: 750px;
  height: 165px;	
}

#leftcol {
	width: 150px;
	float: left;
	padding: 5px 0 5px 0;
	background-color: #008000;
}

#leftcol p {
	padding: 3px 18px 3px 18px;
	margin: 0;
}

#content {
	margin-left: 160px;
	width: 575px
}

#content p {
	margin: 0;
}

#footer {
	width: 750px;
	clear: left;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	background: #ffffff url(../images/grassfooter.jpg) bottom no-repeat;
	padding: 55px 0 5px 0;
}

#footer p {
	text-align: center;
	padding-right: 8px;
	font: 8pt verdana, arial, sans-serif;
  color: #000000;
}

#leftImg {
  float: left;
  padding: 0 0px 0px 0;
}

.comment{
  margin-left: 10px; 
  padding: 5px 0px 10px 0px; 
  border-top: #ccc 1px dotted;
}

.comment_span_name{
  color: #008000; 
  font-weight: bold;
}

.comment_span_date{
  color: red; 
  font-size: 0.9em;
}

#notify_div {
  width: 100%;
  height: 20px;
  opacity: .95;
  filter: alpha(opacity=95);
  background-color: #00aa00;
  color: #fff;
  z-index: 300;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 22px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: bold;
  display: none;
}