<h2>Edit Post</h2>
<p></p>
<div>
  <% form_for @post, :url => post_path(@post.id), :html => {:method => :put} do |f| %>
  <table width='100%' border='0'>
    <tr>
      <td colspan="2"><%= f.error_messages %></td>
    </tr>
    <%= render :partial => "post_form", :object => f %>
    <tr>
      <td colspan="2" align='center'>
        <%= f.submit "Update" %>&nbsp;&nbsp;<%= button_to_function "Back", "location.href = '#{full_post_path(@post.id)}'" %>
      </td>
    </tr>
  </table>  
  <% end %>
</div>